<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой журнал - Источник вдохновения</title>
</head>
<body>
{% extends "my_journal_p/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Добро пожаловать!</h1>
    <p class="lead">Рады приветствовать Вас в рабочей среде "Мой журнал".
        В настоящее время проект находится в разработке</p>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Зарегистрироваться &raquo;</a>
</div>

{% endblock page_header %}

</body>
<footer>
    {% block content %}
  <p align="center"><a href="https://vk.com/andrew.larionov" target="_blank">Разработчик</a></p>
{% endblock content %}
</footer>
</html>