<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый комментарий к теме</title>
</head>
<body>
{% extends "my_journal_p/base.html" %}
{% block content %}
    <p><a href="{% url 'my_journal_p:topic' topic.id %}">{{topic}}</a></p>

    <p>Добавить новый комментарий</p>
    <form action="{% url 'my_journal_p:new_entry' topic.id %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button name="submit">Добавить комментарий</button>
    </form>
{%endblock content%}
</body>
</html>