<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой журнал - Обсуждения</title>
</head>
<body>
{% extends "my_journal_p/base.html" %}

{% block page_header %}

  <h1>Темы:</h1>
{% endblock page_header %}
{%block content%}
  <ul>
      {% for topic in topics %}
        <li><h3>
          <a href="{% url 'my_journal_p:topic' topic.id %}">{{topic}}</a>
        </h3></li>
      {% empty %}
        <li><h3>Отсутствуют темы для просмотраt</h3></li>
      {% endfor %}
  </ul>
  <h3><a href="{% url 'my_journal_p:new_topic' %}">Добавить новую тему</a></h3>
{% endblock content %}
</body>
</html>